<div class="row">
    <h1></h1>
    <h2>Search Results</h2>
  <div class="col-sm-12" >
      <h3>{{ total }} movies match your search criteria </h3>
      {{#if pages}}
      <p>Pages:</p>
      <ul class="pagination pagination-lg" id={{pages}}>
    </ul>
    {{/if}}
  </div>
    {{#if movies.length}}
        <ul class="list-unstyled">
            {{#each movies}}
                    <li class="movie-result" >
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{this.poster_path}}" alt="movie poster" />
                            <div class="buttons">
                            <button type="button" class="add" id="add{{this.id}}"><span class="glyphicon glyphicon-plus-sign"></span>
                                Add to Playlist
                            </button> 
                           <button type="button" class="details" id="get{{this.id}}"><span class="glyphicon glyphicon-list-alt"></span>
                           Movie Details
                           </button>
                        </div>
                        <div class="movie_info" >
                            <ul class="list-unstyled">
                                <li><strong>Title:</strong> {{this.title}}</li>
                                <li><strong>Rating from The Movie DB.com: </strong> {{this.vote_average}} /10</li>
                                <li><strong>Release Date:</strong> {{this.release_date}}</li>
                                <li><strong>Overview:</strong> {{this.overview}}</li>
                            </ul>
                        </div>
                    </li>
            {{/each}}
        </ul>
    {{/if}}
</div>